
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --a:0;
}
*{
    margin: 0;
    padding: 0;
    font-family:'Roboto',sans-serif ;
}

body{
    background-color: black;
    color: white;

}






.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    list-style: none;
    width: 14px;
    gap: 4px;
    padding-top: 14px;
    font-weight: bold;
}
.heading{

    display: flex;
    width: 100%;
    gap: 4px;

    font-weight: bold;
    align-items: center;
    font-size: 15px;
    padding-bottom: 12px ;

}
.heading img{
    width: 18px;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    padding: 10px;
}
.footer a{
    color: grey;
}

.right{
    margin: 16px 0;
    position: relative;
}

.library{
    min-height: 80vh;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34,34,34)
}
.header > *{
    padding: 20px;
}
.spotifyPlaylist{
    padding: 16px;
}

.spotifyPlaylist .card{
    width: 200px;
    height: 250px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
}
.card > *{
padding-top: 10px;

}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 7px;
}
.card-container{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* padding: 12px; */
    overflow-y: scroll;
    max-height: 70vh;
}
.card{
    position: relative;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #655757;
    transition: all 1.7s;

}
.card:hover{
    background-color: rgb(86, 78, 78);
    cursor: pointer;
    --a:1;
}
.play{
    position: absolute;
    top: 100px;
    left: 168px;
    opacity: var(--a);
    transition: all 0.75s ease-out;
}

.signupbtn{
    font-weight: bold;
    background-color: rgb(34, 34, 34);
    color: grey;
    text-align: center;
    padding: 12px;
    margin: 3px;
    border: 0;
    cursor: pointer;
}
.loginbtn{

    font-weight: bold;
    background-color: white;
    color: black;
    text-align: center;
    padding: 13px 32px;
    margin: 3px;
    border-radius: 22px;
    cursor: pointer;


}

.signupbtn:hover{
    color: white;
}
.loginbtn:hover{
    opacity: 92%;
    
    
}

.playbar{
    height: 35px;
    position: fixed;
    bottom: 20px;
    right: 7px;
    background-color: rgb(231, 225, 225);
    width: 71vw;
    padding: 12px;
    border-radius: 5px;

}

.songbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.songList ul{
    padding: 0 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 0;
    padding: 10px;
    border-radius: 8px;
    width:90%;
    justify-content: space-evenly;
    align-items: center;

}
.playnow{
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.playnow img{
    width: 24px;
}

.playnow div{
    font-size: 13px;
    width:64px;

}

.songList .info{
    font-size: 13px;
    width: 344px;
}

.songList{
    height: 70vh;
    overflow: auto;
    margin-bottom: 44px;
}

.seekbar{
    height: 2px;
    width: 98%;
    border: 2px solid rgb(38, 40, 118);
    position: absolute;
    bottom: 2px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left:0%;
    transition: left 0.26s linear;
}

.songbuttons img{
    cursor: pointer;
}

.songinfo, .songtime{
    color: black;
    font-size: 14px;
    padding: 0 6px;
    width: 115px;
}
.abovebar{
    display: flex;
    justify-content: space-between;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.hamburger{
    display: none;
}
.hamburgerIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.left .close{
    display: none;
}
.songinfo{
    width: 250px;
}


@media (max-width:1300px) {

    .left{
        position: absolute;
        left: -200%;
        transition: all 0.3s;
        z-index: 1;
        width: 320px;
        background-color: black;
    }

    .left .close{
        position: absolute;
        right: 31px;
        top: 25px;
        width: 20px;
        display:block;
        z-index: 1;
    }

    .right{
        width: 100vw;
        margin: 0;
        /* height: 100vh; */
    }

    .playbar{
        width: calc(100vw - 31px);
        height: 20vh;
    }
    .seekbar{
        width:96.5%;
    }
    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
    }
    .card{
        width: 90vw;
    }

    .card-container{
        margin: 0;
        justify-content: center;
    }

    .abovebar{
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }
    .buttons{
        margin: 0;
        display: flex;
        padding: 3px;
    }
    .spotifyPlaylist h1{
    padding:10px 0px;

    .songinfo{
        width:auto;
    }
    .songtime{
        width: auto;
    }
    .timevol{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }


}
}